DatabaseApp/_6.1_XML_Basics/_3_CreateXSDSchema_Exams.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema 
  xmlns:tns="http://www.students.org/students/exams" 
  attributeFormDefault="unqualified" 
  elementFormDefault="qualified" 
  targetNamespace="http://www.students.org/students/exams" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="exam">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="exam-name" type="xs:string" />
        <xs:element name="exam-date" type="xs:date" />
        <xs:element name="grade" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>