DatabaseApp/_6.2_XMLParsers/catalog.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="albums">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="album" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence minOccurs="1" maxOccurs="1">
              <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="3"/>
              <xs:element name="artist" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
              <xs:element name="year" type="xs:gYear" minOccurs="1" maxOccurs="1"/>
              <xs:element name="producer" type="xs:string" minOccurs="0"/>
              <xs:element name="price" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
              <xs:element name="songs" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence minOccurs="1" maxOccurs="unbounded">
                    <xs:element name="song">
                      <xs:complexType>
                        <xs:sequence minOccurs="1" maxOccurs="1">
                          <xs:element name="title" type="xs:string"/>
                          <xs:element name="duration" type="xs:duration"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>